.title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 100px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.title-text {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--jiforange);
    white-space: nowrap;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: auto;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
    .title-text {
        font-size: 75px;
    }
    
    .logo {
        margin-left: 15px;
        margin-right: 15px;
        height: 75px;
    }
}

/* Desktop screens */
@media (min-width: 1024px) {
    .title-text {
        font-size: 100px;
    }
    
    .logo {
        margin-left: 20px;
        margin-right: 20px;
        height: 100px;
    }
}