.user-container {
    text-align: center;
}

.user-name {
    display: inline-flex;
    font-size: 30px;
    align-items: center;
}

.user-img {
    display: inline-flex;
    height: 2em;
    margin-right: 20px;
}

.character-select {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    width: 40%;
}

.submit-form {
  text-align: center;
  padding-top: 10px;
}

.upper-fields {
  display: flex;
  align-items: center; /* Vertically center items */
  margin-bottom: 50px;
}

.field-inputs {
    display: inline-block;
    width: 60%;
}

.image-upload {
    width: 40%;
    height: 100%;
}

.file-upload{
    display:block;
    margin: 10px auto;;
}

.image {
    object-fit: contain;
    margin: auto;
    display: block;
    max-width: 90%;
    height: 300px;
    max-height: 300px;
    border: 1px solid white;
    background-color: var(--jifdarkgrey);
    margin-top: 5px;
}

.buttons {
    display: flex;
    text-align: center;
    justify-content: center;
}

.save-button {
    margin-left: 20px;
    height: 30px;
    font-family: "MedodicaRegular";
    font-size: 20px;
    background-color: var(--jiforange);
    border: 2px solid var(--jifdarkgrey);
}

.save-button:hover {
    background-color: var(--jiflightorange);
}

.error-text {
    color: red;
    font-size: 20px;
    text-align: center;
}

.success-text {
    color: green;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.image-buttons {
    display: flex;
}